{{> head }}
{{> navbar }}

    <div class="row">
       <div class="col-8">
           <h1>Esta es la aplicación web de prueba del curso de node.js</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat non, beatae, laudantium blanditiis quos ipsam ipsum ab inventore fuga vero necessitatibus alias numquam quaerat earum! Laboriosam totam alias rerum quam!</p>
       </div>     

       <div class="col-4">
           <img src="./assets/img/demo.jpg" class="img-thumbnail">
       </div>
    </div>

{{> footer }}